.container{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100vw;
    height:100vh;
}
.card-header{
    background-color: rgba(137, 137, 140, 0.19);
border-bottom: 1px solid rgba(89, 13, 13, 0.13);
}
