<app-header class="image"></app-header>

<div>
  <div>
    <div class="contenido" id="main-container">
      <div id="educacion">
        <h4 class="educacion"> Educacion
          <button class="btn btn-success" (click)="onOpenModal(null!,'add')" *ngIf="isUserLogged"><span
              class="glyphicon glyphicon-pencil"></span> Agregar</button>
        </h4>
        <div class="container">
          <div class="columnas" *ngFor="let e of educacionList">
            <div class="datoseducacion">

              <p><span class="titulo">{{e.titulo}}</span>
                <br>
                <br> {{e.institucion}}
                <br>
                <br> {{e.fechaEgreso}}
                <br> {{e.fechaInicio}}


              </p>
              <span id="eliminar-editar-educacion" *ngIf="isUserLogged">
                <button type="button" class="botones_editar_borrar" (click)="onOpenModal(e,'edit')">
                  <i class="fa-solid fa-pen"></i>Editar
                </button>
                <button (click)="onOpenModal(e,'delete')" type="button" class="botones_editar_borrar">
                  <i class="fa-solid fa-eraser"></i> borrar
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- Modal para agregar Experiencia -->
  <div class="modal fade" id="addEducacionModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="addExperienciaModal" aria-hidden="true">
    <div class="modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Agregar Educacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="false">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
  <!--
            <div class="form-group">
              <div class="input-group">
                <label for="fechaInicio">Fecha Inicio</label><br>
                <input ngModel type="text" name="fechaInicio" id="fechaInicio" class="form-control" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary calendar mt-2" (click)="d.toggle()" type="button">Cagar Fecha
                    inicio</button>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="input-group">
                <label for="fechaEgreso">Fecha Egreso </label><br>
                <input ngModel type="text" id="fechaEgreso" name="fechaEgreso" class="form-control" ngbDatepicker #c="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary calendar mt-2" (click)="c.toggle()" type="button">Cagar Fecha
                    egreso</button>
                </div>
              </div>
            </div>
          -->
          <label for="fechaInicio">Fecha Inicio</label><br>
          <input ngModel type="text" id="fechaInicio" name="fechaInicio" placeholder="yyyy-mm-dd"   class="form-control">
          <label for="fechaEgreso">Fecha egreso</label><br>
          <input ngModel type="text" id="fechaEgreso" name="fechaEgreso" placeholder="yyyy-mm-dd" class="form-control">
            <label for="titulo">Título</label><br>
            <input ngModel type="text" id="titulo" name="titulo" class="form-control">
            <label for="institucion">Institucion</label><br>
            <input ngModel type="text" id="institucion" name="institucion" class="form-control">
            <label for="idPersona">Id Persona</label><br>
            <input ngModel type="number" name="idPersona" id="idPersona" class="form-control">
            <div class="modal-footer">
              <button type="button" id="add-educacion-modal" class="btn btn-primary"
                data-dismiss="modal">Cancelar</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>
          <pre>{{addForm.value | json}}</pre>
        </div>

      </div>
    </div>
  </div>



  <!-- Inicio modal editar -->


  <div class="modal fade" id="updateEducacionModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="updateEducacionModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Editar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <label type="hidden" for="id">ID</label><br>
            <input type="hidden" ngModel="{{editEducacion?.id}} " type="number" id="id" name="id" class="form-control">
            <label for="fechaInicio">Fecha inicio</label><br>
            <input ngModel="{{editEducacion?.fechaInicio}} " type="text" id="fechaInicio" name="fechaInicio" class="form-control">
            <label for="fechaEgreso">Fecha egreso</label><br>
            <input ngModel="{{editEducacion?.fechaEgreso}}" type="text" id="fechaEgreso" name="fechaEgreso" class="form-control">
            <label for="titulo">Título</label><br>
            <input ngModel="{{editEducacion?.titulo}}" type="text" id="titulo" name="titulo" class="form-control">
            <label for="institucion">Institucion</label><br>
            <input ngModel="{{editEducacion?.institucion}}" type="text" id="institucion" name="institucion" class="form-control">
            <label for="idPersona">Id Persona</label><br>
            <input ngModel="{{editEducacion?.idPersona}}" type="number" id="idPersona" name="idPersona" class="form-control">
            <input type="hidden" name="id" ngModel="{{editEducacion?.id}} "><br>
            <div class="modal-footer">
              <button id="update-educacion-modal" type="button" class="btn" data-dismiss="modal">Cancelar</button>
              <button (click)="onUpdateEducacion(editForm.value)" type="button" class="btn" data-dismiss="modal">Guardar
                cambios</button>
            </div>
          </form>
          <pre>{{editForm.value | json}}</pre>
        </div>




      </div>
    </div>
  </div>
  <!-- Fin Modal modificar -->
  <!-- Una semana peleando con modal y era error de dependencias -->

  <!-- Comienzo Modal Borrar -->
  <div class="modal fade" id="deleteEducacionModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="deleteEducacionModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">No</button>
          <button (click)="onDeleteEducacion(deleteEducacion.id)" type="button" class="btn"
            data-dismiss="modal">Sí</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Comienzo Modal Borrar -->