<app-header class="image"><app-home-button></app-home-button></app-header>
<!--Boton home-->
<div>
  <app-home-button></app-home-button>
</div>



<!--Comienzo Educacion -->
<div *ngIf="this.isUserLogged">
  <div>
    <div class="contenido" id="main-container">
      <div id="educacion">
        <h4 class="educacion"> Educacion 
          
          <button ngbTooltip="Agregar educación" class="btn btn-success" (click)="onOpenModal(null!,'add')"
            *ngIf="this.isUserLogged"><span class="btn-primary"></span> Agregar educacion</button>
            
        </h4>
        <div class="container">
          <div class="columnas" *ngFor="let e of educacionList">
            <div class="datoseducacion">

              <p><span class="titulo">{{e.titulo}}</span>
                <br>
                <br> {{e.institucion}}
                <br>
                <br> {{e.fecha_egreso}}
                <br> {{e.fecha_inicio}}


              </p>
              <span id="eliminar-editar-educacion" *ngIf="this.isUserLogged">
                <button ngbTooltip="Editar educación" type="button" class="botones_editar_borrar"
                  (click)="onOpenModal(e,'edit')">
                  <i class="fa-solid fa-pen"></i>Editar
                </button>
                <button (click)="onOpenModal(e,'delete')" type="button" class="botones_editar_borrar">
                  <i class="fa-solid fa-eraser"></i> borrar
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- Modal para agregar Experiencia -->
  <div class="modal fade" id="addEducacionModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="addExperienciaModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Agregar Educacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
            <!--
            <div class="form-group">
              <div class="input-group">
                <label for="fecha_inicio">Fecha Inicio</label><br>
                <input ngModel type="text" name="fecha_inicio" id="fecha_inicio" class="form-control" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary calendar mt-2" (click)="d.toggle()" type="button">Cagar Fecha
                    inicio</button>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="input-group">
                <label for="fecha_egreso">Fecha Egreso </label><br>
                <input ngModel type="text" id="fecha_egreso" name="fecha_egreso" class="form-control" ngbDatepicker #c="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary calendar mt-2" (click)="c.toggle()" type="button">Cagar Fecha
                    egreso</button>
                </div>
              </div>
            </div>
          -->
            <label for="id" type="hidden" class="oculto">Id</label><br>
            <input ngModel type="number" id="id" name="id" class="form-control oculto">
            <label for="fecha_inicio">Fecha Inicio</label><br>
            <input ngModel  type="text" id="fecha_inicio" name="fecha_inicio"
              placeholder="yyyy-mm-dd" class="form-control">
            <label for="fecha_egreso">Fecha egreso</label><br>
            <input ngModel type="text" id="fecha_egreso" name="fecha_egreso" placeholder="yyyy-mm-dd"
              class="form-control">
            <label for="titulo">Título</label><br>
            <input ngModel type="text" id="titulo" name="titulo" class="form-control">
            <label for="institucion">Institucion</label><br>
            <input ngModel type="text" id="institucion" name="institucion" class="form-control">
            <label for="persona_id">Id Persona</label><br>
            <input ngModel type="number" name="persona_id" id="persona_id" class="form-control">
            <div class="modal-footer">
              <button type="button" id="add-educacion-modal" class="btn btn-primary"
                data-dismiss="modal">Cancelar</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>
          <pre>{{addForm.value | json}}</pre>
        </div>

      </div>
    </div>
  </div>



  <!-- Inicio modal editar -->


  <div class="modal fade" id="updateEducacionModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="updateEducacionModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Editar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <label type="hidden" for="id">ID</label><br>
            <input type="hidden" ngModel="{{editEducacion?.id}} " type="number" id="id" name="id" class="form-control">
            <label for="fecha_inicio">Fecha inicio</label><br>
            <input ngModel="{{editEducacion?.fecha_inicio}} " type="text" id="fecha_inicio" name="fecha_inicio"
              class="form-control">
            <label for="fecha_egreso">Fecha egreso</label><br>
            <input ngModel="{{editEducacion?.fecha_egreso}}" type="text" id="fecha_egreso" name="fecha_egreso"
              class="form-control">
            <label for="titulo">Título</label><br>
            <input ngModel="{{editEducacion?.titulo}}" type="text" id="titulo" name="titulo" class="form-control">
            <label for="institucion">Institucion</label><br>
            <input ngModel="{{editEducacion?.institucion}}" type="text" id="institucion" name="institucion"
              class="form-control">
            <label for="persona_id">Id Persona</label><br>
            <input ngModel="{{editEducacion?.persona_id}}" type="number" id="persona_id" name="persona_id"
              class="form-control">
            <input type="hidden" name="id" ngModel="{{editEducacion?.id}} "><br>
            <div class="modal-footer">
              <button id="update-educacion-modal" type="button" class="btn btn-light"
                data-dismiss="modal">Cancelar</button>
              <button (click)="onUpdateEducacion(editForm.value)" type="button" class="btn btn-primary"
                data-dismiss="modal">Guardar
                cambios</button>
            </div>
          </form>
          <pre>{{editForm.value | json}}</pre>
        </div>




      </div>
    </div>
  </div>
  <!-- Fin Modal modificar -->
  <!-- Una semana peleando con modal y era error de dependencias -->

  <!-- Comienzo Modal Borrar -->
  <div class="modal fade" id="deleteEducacionModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="deleteEducacionModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Eliminar Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>El ítem se eliminará permanentemente. ¿Desea borrarlo?</p>
        </div>
        <div class="modal-footer">

          <div class="col-md-4 container">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteEducacion(deleteEducacion.id)" type="button" class="btn btn-primary"
              data-dismiss="modal">Sí</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal Borrar -->
<!--termina MODIFICA EDUCACION-->




