<section>
                <div class="w-100 pl-335 alturabanner position-relative vh100 d-flex flex-wrap align-items-center" id="about">
                    <div class="fixed-bg" style="background-image: url(assets/images/grad-bg.jpg);"></div>
                    <div class="about-wrap4 style3 w-100">
                        <div class="about-inner w-100">
                            <div class="row align-items-center">
                                <div class="col-md-12 col-sm-12 col-lg-7 order-md-1">
                                    <div class="about-mckp4 position-relative w-100">
                                        <a class="rounded-circle d-inline-block" href="https://www.youtube.com/watch?v=ANwf8AE3_d0" data-fancybox title=""><i class="arrow_triangle-right"></i></a>
                                        <img class="img-fluid" src="assets/images/resources/feat-mckp3.png" alt="Featured Mockup 3">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 co0l-lg-5">
                                    <div class="about-cap">
                                        <h2 class="mb-0 text-white">Hello <br> I am Freelancer</h2>
                                        <p class="mb-0 text-white">Where the world meets startups. Millions of small businesses use Freelancer to turn their ideas into reality</p>
                                        <a class="thm-btn mini-btn brd-rd3" href="contact.html" title="">HIRE ME</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--acerca lleva  Style 4 -->
                </div>
            </section>
            <section>
                <div class="w-100 pl-335 pt-50 pb-50 position-relative vh100 d-flex flex-wrap align-items-center" id="skills">
                    <div class="fixed-bg" style="background-image: url(assets/images/grad-bg.jpg);"></div>
                    <div class="skills-wrap w-100">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-7 order-md-1">
                                <div class="skills-mckp"><img class="img-fluid" src="assets/images/resources/skills-mckp.png" alt="Skills Mockup"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-5">
                                <div class="skills-desc w-100">
                                    <span class="d-block text-white">How Can We Help?</span>
                                    <h2 class="mb-0 text-white">Mr. Zaki El Masry</h2>
                                    <p class="mb-0">Here’s the story of a man named Brady who was busy with three boys of his own, climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but rub face on everything hopped up on goofballs.</p>
                                    <ul class="skills-list mb-0 list-unstyled w-100">
                                        <li>
                                            <div class="progress-wrap d-flex flex-wrap justify-content-between w-100">
                                                <span class="text-white">Marketing online</span>
                                                <i class="text-white">75%</i>
                                                <div class="progress rounded-pill w-100"><div class="progress-bar rounded-pill wdth75 wow slideInLeft" data-wow-duration=".3s" data-wow-delay=".1s"></div></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="progress-wrap d-flex flex-wrap justify-content-between w-100">
                                                <span class="text-white">Deliver Business</span>
                                                <i class="text-white">60%</i>
                                                <div class="progress rounded-pill w-100"><div class="progress-bar rounded-pill wdth60 wow slideInLeft" data-wow-duration=".3s" data-wow-delay=".3s"></div></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="progress-wrap d-flex flex-wrap justify-content-between w-100">
                                                <span class="text-white">Marketing online</span>
                                                <i class="text-white">75%</i>
                                                <div class="progress rounded-pill w-100"><div class="progress-bar rounded-pill wdth75 wow slideInLeft" data-wow-duration=".3s" data-wow-delay=".5s"></div></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="thm-btn mini-btn brd-rd3" href="contact.html" title="">CONTACT US</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- Skills Wrap -->
                </div>
            </section>
