
<!-- ======= Educacion Section ======= -->
<section id="services" class="services-mf pt-5 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h1>
  
            Educación
  
            </h1>
            <app-edit-button></app-edit-button>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"  *ngFor="let e of educacion">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fondo"></i></span>
            </div>
            <div >
              <h2 >{{e.titulo}}</h2>
              <h3 class="text-muted">{{e.institucion}}</h3>
              <h4 class="text-muted">{{e.fecha_egreso}}</h4>
              
            </div>
          </div>
        </div>
    </div>
  
           
    </div>
  </section><!-- Fin Educacion Section -->
  
 