<table class="table">
				
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Lugar
            </th>
            <th>
                Fecha inicio
            </th>
            <th>
                hasta
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                01/04/2012
            </td>
            <td>
                01/04/2012
            </td>
        </tr>
        <tr class="table-active">
            <td>
                1
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                01/04/2012
            </td>
            <td>
                <span>01/04/2012</span>
            </td>
        </tr>
        <tr class="table-success">
            <td>
                2
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                02/04/2012
            </td>
            <td>
                <span>01/04/2012</span>
            </td>
        </tr>
        <tr class="table-warning">
            <td>
                3
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                03/04/2012
            </td>
            <td>
                <span>01/04/2012</span>
            </td>
        </tr>
        <tr class="table-danger">
            <td>
                4
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                04/04/2012
            </td>
            <td>
                <span>01/04/2012</span>
            </td>
        </tr>
    </tbody>
</table>
